.container{
    width: 150px !important;
    float: right;
    margin-top: 40px
}

.inputContainer{
    margin-top: 30px !important;
}

.number{
    font-size: 35px !important;
    margin-left: 83px !important;
}