.container{
    width: 65% !important;
    margin-left: 0 !important;
}

.number{
    font-size: 35px !important;
    margin-left: 66px !important;
    margin-top: 22px;
}

.inputContainer{
    margin-top: 0 !important;
}