.container{
    float: left;
    width: 180px !important;
    margin-left: 50px !important;
    margin-top: 50px;
}

.inputContainer{
    margin-top: 35px !important;
}

.number{
    margin-left: 96px !important;
    font-size: 45px !important;
}