.container{
    width: 200px;
    position: relative;
}

.frog{
    width: 100%;
}

.number{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 40px;
    bottom: 35px;
    left: 92px;
}