.container{
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
}

.frog{
    width: 100%;
}

.number{
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 40px;
    bottom: 35px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 5px;
}